.App {
  font-family: sans-serif;
  text-align: center;
}

.App > div{
  display: block;
  margin: auto;
  margin: 15px;
}

.shade {
  height: 20px;
  width: 100px;
  margin-bottom: 5px;
}

.button {
  margin: 10px;
  border-radius: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.rgbInput {
  margin-left: 10px !important;
}

.rgbInput > .ant-input-number-handler-wrap{
  display: none !important;
}
